a.no-action {
   box-shadow: none;
   color: inherit;
}

:root {
   --primary: #FA684B;
   --primary-dark: rgb(226, 85, 57);
   --accent: #298C9F;
   --accent-dark: rgb(39, 130, 148);
}

.bg-primary {
   background: var(--primary);
   color: white;
}

.menu-item:hover a {
   color: #ffffffe1;
}

.card {
   box-shadow: 1px 1px 10px 0px rgb(245, 245, 245);
   border-radius: 4px;
   margin: 20px 0px 20px 0px;
   border: 1px solid #e3e3e3;
}

.card-body {
   padding: 20px;
}

::placeholder, textarea::placeholder {
   color: #919191 !important;
   font-weight: 700 !important;
}

a:hover {
   box-shadow: none;
}

.delete {
   color: rgba(255, 78, 78, 0.705) !important;
}

.edit {
   color: rgba(74, 114, 243, 0.822);
}