a.no-action {
   box-shadow: none;
   color: inherit;
}

:root {
   --primary: #FA684B;
   --primary-dark: rgb(226, 85, 57);
   --accent: #298C9F;
   --accent-dark: rgb(39, 130, 148);
}

.bg-primary {
   background: var(--primary);
   color: white;
}

.menu-item:hover a {
   color: #ffffffe1;
}

.card {
   box-shadow: 1px 1px 8px 1px #e7e7e7;
   border-radius: 4px;
}

.card-body {
   padding: 20px;
}

::placeholder, textarea::placeholder {
   color: #919191 !important;
   font-weight: 700 !important;
}